/* Site Wide */
::-webkit-scrollbar { width: 10px;}
::-webkit-scrollbar-track {background: #f1f1f1;}
::-webkit-scrollbar-thumb {  background: #c2c0b9;}
::-webkit-scrollbar-thumb:hover {background: #9E9986;}
html{
	scroll-behavior: smooth;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16pt;
	font-weight: 500;
	color: #707070;
	font-style: normal;
}
#content{
	width: calc(100% - 222px);
	transition: all 0.3s;
	position: absolute;
	top:0;
	right:0;
}
.vertical-center{
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
	margin: 0 auto;
}
.project{
	width:100%;
	padding:20px;
}
@media(max-width: 769px){
	#content{
		width: 100%;
	}
	#content img{
		padding: 0px;
	}
	.overlay.active {
		visibility: visible;
		opacity: 1;
		transition: visibility 0s, opacity 0.3s linear;
	}
}
.overlay {
    visibility: hidden;
    position: fixed;
	top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    z-index: 997;
    opacity: 0;
    /* animate the transition */
    transition: visibility .3s, opacity 0.3s linear;
}
.noscroll{
	overflow: hidden;
}
/* display .overlay when it has the .active class */

.container {
	width: 768px;
	padding: 0px;
}
.logo{
	position:relative;
	top:-60px;
	margin-left: 20px;
}
.subtitle{
	text-align: right;
	position:relative;
	right: 100%;
	top: 25px;
	margin-right: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 14pt;
	color: #000000;
	
}
.prototype {
	position:relative;
}
.mobile{
	position: absolute;
	top:110px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	position: absolute;
}
.backtotop{
	position: fixed;
	bottom: 7vh;
	right: 7vw;
	display: none;
}
.wrapper{
	width: 100%;
	display: flex;
}
.sidebar{
	width: 222px;
	position: fixed;
	padding-top: 25vh;
	padding-right: 30px;
	padding-left: 70px;
	height: 80vh;
	margin: 10vh 0 10vh -222px;
	text-align: left;
	font-size: 18pt;
	transition: all 0.4s;
	z-index: 999;
}
.sidebar.active{
	margin-left: 0px;
}
@media (min-width: 769px) {
	.sidebar {
		margin-left: 0px;
		border-right: solid;
		border-color: #CEC9BC;
		border-width: 2px;
		text-align: right;
	}
}
.sidebar li{
	color: #CEC9BC;
	margin-bottom: 10px;
	text-decoration: none;
}
.menu-toggle {
 	position: fixed;
	display: none;
	width:30px;
	height: 26px;
	margin: 20px;
  
	background: transparent;
	border-top: 3px solid;
	border-bottom: 3px solid;
  
	color: #CEC9BC;
	font-size: 0;
	z-index: 998;
  
  	transition: all .25s ease-in-out;
}
@media (max-width: 768px) {
	.menu-toggle {
		display: block;
	}
}
 .menu-toggle:before,.menu-toggle:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    background: currentColor;
    
    transform: translate(-50%, -50%);
    transition: transform .25s ease-in-out;
} 


button:hover {
  color: lighten(#CEC9BC, 15%);
}

button.is-active {
  border-color: transparent;
}
button.is-active:before {
    transform: translate(-50%, -50%) rotate(45deg);
 }

button.is-active:after {
    transform: translate(-50%, -50%) rotate(-45deg);
 }

button {
  border: none;
  cursor: pointer;
  outline: none;
}
.sidebar-header{
	margin-bottom: 20px;
}
.sidebar-header img{
	width: 120px;
}

/*Custom Underline*/
.normal-underline,
.custom-underline {
  position: relative;
  display: inline-block;
  font-size: 18pt;
  font-weight: 400;
  text-align: center;
}
#pageSubmenu .custom-underline{
	font-size: 14pt;
	font-weight: 300;
	color: #7A776C;
}
.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
  color: #9E9986;
  text-decoration: none;
}

.custom-underline::after {
  content: "";
  position: absolute;
}
.underline-container .custom-underline::after {
  top: 90%;
  height: 2.5px;
  width: 0%;
  right: 5%;
  background-color: #9E9986;
	transition: 0.5s ease all .2s;
}

.underline-container:hover .custom-underline::after {
  width: 90%;
    transition: 0.2s ease all;
}
/* Home */
.logo-wrap{
	height: 100vh;
}
.main-logo{
	position:absolute;
	cursor: pointer;
	z-index: 200;
}
.main-logo .logo-text{
	color:white;
	font-weight:600;
	font-family: futura-pt;
	display:inline-block;
	font-size: 65pt;
	background: linear-gradient(290deg, #71DBD4, #F9C2DC, #89ABE3, #FAC9B8, #B8CFCF);
	background-size: 1000% 1000%;
	padding: 5px 30px 5px 30px;
	margin:0;
	letter-spacing: 3pt;
	-webkit-transform: ScaleX(.9);
	transform: ScaleX(.9);
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	transition: all .3s;
	-webkit-animation: main-logo 45s ease infinite;
	-moz-animation: main-logo 45s ease infinite;
	animation: main-logo 45s ease infinite;
}
.logo-background{
	position: absolute;
	width:40vw;
	height: 40vw;
}
@media(max-width: 1300px){.logo-background{width: 60vw; height: 60vw;}}
@media(max-width: 768px){.logo-background{width: 80vw; height: 80vw;}}
@media(max-width: 576px){.logo-background{width: 200vw; height: 200vw;}}
.logo-background img{
	transition: all 1.2s ease-in-out;
	width:100%;
	height: 100%;
}
@-webkit-keyframes main-logo {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}
@-moz-keyframes main-logo {
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}
@keyframes main-logo { 
    0%{background-position:7% 0%}
    50%{background-position:94% 100%}
    100%{background-position:7% 0%}
}
.down-arrow{
	position: absolute;
	bottom: 10vh;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.logo-wrap p{
	margin-top: 50px;
	font-style: italic;
	font-size: 24pt;
	font-weight: 300;
	line-height: 1.2;
	position:absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -80px);
	transform: translate(-50%, -80px);
}
/*About Me*/
.circular {
	width: 60%;
	margin: 0px auto 50px;
	border-radius:50%;
}
.border-gradient{
	background: linear-gradient(290deg, #71DBD4, #F9C2DC, #89ABE3, #FAC9B8, #B8CFCF);
	background-size: 1000% 1000%;
	-webkit-animation: main-logo 45s ease infinite;
	-moz-animation: main-logo 45s ease infinite;
	animation: main-logo 45s ease infinite;
	padding:12px !important;
}
.me img{
	width:100% !important;
	border-radius:50%;
	padding: 0px !important;
}
.me p{
	text-align: justify;
	text-justify: inter-word;
	font-size:16pt;
	font-weight: 300;
	line-height: 1.2;
	color: #7A776C;
}
@media(max-width:576px){.about.vertical-center{	width:80vw;}}
@media(max-width:768px){.about .border-gradient{width: 80% !important;}}
@media(max-width:992px){.about .border-gradient{width: 70%;	}}

/*Contact*/
.contact{
	transition: all .3s ease;
}
.contact-title{
	color: #9E9986;
	font-size: 24pt;
	font-weight: 600;
	margin-bottom: 5px;
	transition: all .5s ease-in-out;
}
.contact-wrapper{
	background: #9E9986;
	padding: 40px 80px 40px 60px;
	transition: all .3s ease-in-out;

}
.email-button{
	color: white;
	font-size: 28pt;
	font-weight: 600;
	transition: all .3s ease-in-out;
	line-height: 1.2em;
	word-break: keep-all;
}
@media(max-width:576px){
	/*.contact{
		text-align: center;
	}*/
	.link-button:nth-child(2){
		margin: 0px 10px !important;
	}
	.link-button img{
		width: 30px !important;
	}
	.contact-title{
		line-height: 90%;
		margin-bottom: 15px;
	}
	.contact .border-gradient{
		width: 70vw !important;
	}
}
@media(max-width:768px){
	.contact-wrapper{
		padding: 40px 30px;
	}
	.contact .border-gradient{
		width: 60vw;
		margin: 0 auto;
	}
	.email-button{
		font-size:24pt;
		word-break: break-word;
	}
}
@media(max-width:992px){
	.contact-wrapper{
		padding: 40px 30px;
	}
}
.email-button:hover{
	color: white;
	text-decoration: none;
}
.link-wrapper{
	margin-top: 20px;
}
.link-button:nth-child(2){
	margin: 0px 15px;
	transition: all .5s ease;
}
.link-button img{
	width: 36px;
	transition: all .3s ease-in-out;
}
.link-button{
	transition: all .3s ease-in-out;
}
/* Cartwheel */
video{
	width: 50%;
}
/* Work */
.work .container-fluid{
	padding:10vh 10%;
}
.grid{
	width: 100%;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid img{
	width: 100%;
}
.gutter-sizer{
	width: 0;
}
.grid-item, .grid-sizer{
	width: 32%;
}
.grid-item{
	margin-bottom: 0;
}
.zoom{
	transition: all .2s ease-in-out;	
}
.zoom:hover{
	opacity: .6;
	transition: all .2s ease-in-out;
}
@media(max-width:576px){
	.grid-item, .grid-sizer{
		width:100% !important;
	}
	.work .container-fluid{
		padding:15%
	}
}
@media(max-width:1200px){
	.grid-item, .grid-sizer{
		width:49%;
	}
}
.blank{
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='%23CEC9BC' stroke-width='1'/><path d='M0 0 L100 100 ' stroke='%23CEC9BC' stroke-width='1'/></svg>");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 100% 100%, auto;
    border: solid #CEC9BC 3px;
    width: 100%;
	height: 0;
	padding-bottom: 75%;
	transition: all .3s ease;
}
.blank:hover{opacity: .4;}
.grid-item:nth-last-child(3) .blank{
	padding-bottom: 100%;
}
.button{
	margin: 0px 5px;
	background: none;
	color: #9E9986;
	opacity: .6;
	transition: all .3s ease-in-out;
}
button:focus {outline:0;}
.button.is-checked{opacity: 1;}
.button-group{margin-bottom: 10px;}

.underline-container .custom-underline-2::after {
	width: 0%;
}

.underline-container:hover .custom-underline-2::after{
	width: 90%;
}
/* Misc */
.photo-centric .container-fluid{
	padding: 10vh 15% 5vh 15%;
	font-size: 18pt !important;
	color: #9E9986;
}
.title{
	width: 100%;
	font-size: 32pt;
	font-weight:700;
	font-style: italic;
	color: black;
	line-height: 1;
	background: #f1f2f2;
	padding: 20px;
	display: inline-block;
	margin-bottom: 15px;
}
.title:after{
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	border-bottom: 50px solid #d8664e;
	border-left: 50px solid transparent;
}
.description{
	font-size: 16pt;
	font-weight: 400;
	color: #7A776C;
	margin-bottom: 20px;
}
.side-scroll{
	height: 575px;
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.side-scroll::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.side-inner{
	height: 100%;
	width: 2100px !important;
}
.three-quarter{
	width: 75%;
	margin: 0 auto;
}
@media (max-width:576px){.three-quarter{width:100%}}
p a{
	font-weight: 400;
	color: #d69ab0;
}
p a:hover{
	color: #d69ab0;
}
.photo-centric img{
	width: 100%;
	margin-bottom: 30px;
}

.scroll
{
    position: fixed;
    bottom: 0;
    left: 0;
}

.colony-wrapper {
	position:absolute;
	height:900px;
	width: 900px;
}
.colony-background {
	height: 900px;
	width: 900px;
	object-fit: fill;
}
.colony-scroll{
height: 900px;
}
.colony-background-2{
	position:absolute;
}
.page-scroll{
	left: 0;
	white-space: nowrap;
	padding:0px 0 0;
}
.colony-item{
	display: inline-block;
}
.colony-image{
	outline-style: solid;
	outline-color: white;
	outline-width: 15px;

	height: 550px;
	margin: 0 700px 0 700px;
	
}


::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}