@charset "utf-8";
/* CSS Document */
body {
	background-color: black;
	font-family:Lato;
}
/* homepage */
.text-container {
	position: relative;
	text-align: center;
	margin-top: 70px;
	margin-left: 0px auto;
}
.title {
	font-size: 85px;
	font-weight:400;
	color: #DDDDDD;
	letter-spacing: 20px;	
}

.sub-title {
	letter-spacing: 15px;
	font-size:30px;
	font-weight:300;
	color: #9F9F9F;	
	margin-left: 10px;
}

#logo {
	height: 20%;
	width: 20%;	
}

#nav-home {
	position: absolute;
	bottom: 100px;
	width: 98%;
	text-align: center;

}
.nav-item {
	text-align: center;
	font-weight: 300;
	color: #DDDDDD;
	list-style-type: none;
	font-size: 30px;
	position: relative;
	display:inline-block;
	width: 275px;
}
#nav-container {
	margin-left: 0px auto;	
}

.nav-hover {
	font-weight: 400;
	-webkit-transition-duration: 300ms;
	transition-duration: 300ms;	
}






/* bg slider stuff */
.bg-image {
	filter:brightness(.9);
	-webkit-filter: brightness(.9);
}


/*.caption {
	margin-top: 300px;
	color: #9f9f9f;
	font-size: 30px;
	position: absolute;
	bottom: 10px;
	left: 20px;	
}*/
